.catalogo{
    border: 1px red;
}
#formContainer{
    background-color: bisque;
    justify-content: center;
    width: 80vw;
    margin: auto;
    #cargarPizzas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
    position: relative;
    
}
}
